.container {
  max-width: 960px;
}

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

.bg-light {
  background-color: #c4a473 !important;
}

.text-bg-dark {
  background-color: #794e35 !important;
}

main {
  background-color: antiquewhite;
  color: #392418;
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-weight: 700;
}


/* NAVBAR CUSTOMIZE */

.nav-item {
  margin: 0 20px 0 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

.btn-primary {
  --bs-btn-bg: #392418;
  --bs-btn-border-color: none;
}

.btn-secondary{
  --bs-btn-bg: #794e35;
  --bs-btn-border-color: none;
}

.footer {
  max-width: 100% !important;
  background-color: #c4a473;
  color: white;
  padding: 20px 0 20px 30px;
}

.product {
  width: 100%;
  border-radius: inherit;
}

.shadow-sm {
  height: fit-content !important;
}

.overflow-hidden {
  border-radius: 30px;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
